/* Add any additional styling you need */
body {
  background: url('/src/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  z-index: 0;
}

.container-fluid {
  min-height: 100vh;
}

.auth-bg {
  /* background-color: rgba(248, 249, 250, 0.8);  */
  /* Optional: Add a slight background color with transparency for contrast */
  border-radius: 10px; /* Optional: Add border-radius for the auth background container */
}

.auth-illustration {
  max-width: 100%;
}

.auth-footer-mask {
  display: none;
}

.vh-100 {
  height: 100vh;
}
